{% extends 'public/base.html' %} {% load staticfiles %} {% block title %}About{% endblock %}{% block content %}
<section class="page-title style-2">
  <div class="container relative clearfix">
    <div class="title-holder">
      <div class="title-text">
        <h1>About Us</h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">
            About Us
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- Image -->
<div class="section-wrap-mp pt-0 pb-0">
  <div class="entry-img">
    <img src="{% static "img/group_photo.jpg" %}" alt="">
  </div>
</div>

<!-- Text -->
<section class="section-wrap-mp">
  <div class="container">
    <div class="row mt-minus-30">
      <div class="col-sm-12">
        <div class="about-description mt-30">
          <h4>Our Story</h4>
          <p>
          ISAB is the largest international students organization on UC Berkeley campus. It was established in 2009 and was nominated as an outstanding student organization in 2010.
          ISAB provides a positive intellectual and social atmosphere for students from diverse backgrounds. We host numerous events to promote awareness of international culture to the campus community, whilst strengthening Berkeley's multicultural community. ISAB has hundreds of general members, and along with our officer team, we have 8 core committees.

          </p>
          ISAB’s events hosted over each year include but are not limited to:
          iLink (Professional Networking event designed solely for international students), retreats with ISAB alumni and current members, World Food Fair, Speaker Series, Meet the Bears (International Students Orientation), and General Members’ Bowling Night.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials -->
<!-- Testimonials -->

<section class="section-wrap parallax-testimonials relative" style="background-image: url(img/testimonials_bg.jpg)">

      <div id="owl-testimonials" class="owl-carousel owl-theme text-center">

        <div class="item">
          <div class="container testimonial">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <i class="fa fa-quote-left"></i>
                <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
                <h6>John C. Marshall</h6>
                <span>Art Director</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="container testimonial">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <i class="fa fa-quote-left"></i>
                <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
                <h6>John C. Marshall</h6>
                <span>Art Director</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="container testimonial">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <i class="fa fa-quote-left"></i>
                <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
                <h6>John C. Marshall</h6>
                <span>Art Director</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section> <!-- end testimonials -->

    <!-- Call to Action -->
    <section class="call-to-action">
      <div class="container">
        <div class="row">

          <div class="col-md-9 col-xs-12">    
            <h2>Are you ready to work with us? Let's grow your business.</h2>
          </div>
          
          <div class="col-md-3 col-xs-12 cta-button">
            <a href="#" class="btn btn-lg btn-color">Contact Us</a>
          </div>

        </div>
      </div>
    </section> <!-- end call to action -->


    <!-- Footer Type-2 -->
    <footer class="footer footer-type-2 bg-dark">
      <div class="container">
        <div class="footer-widgets">
          <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget footer-about-us">
                <h5>About Us</h5>
                <p class="mb-0">Enigma is a very slick and clean multi-purpose template with endless possibilities. Creating an awesome website with this Theme is easy than you can imagine. Our Theme is a very slick and clean template with endless possibilities.</p>
              </div>
            </div> <!-- end about us -->

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget footer-get-in-touch">
                <h5>Get in Touch</h5>
                <p class="footer-address">Philippines, Enigma inc.<br> Talay st. 65, PO Box 6200 </p>
                <p>Phone: + 1 888 1554 456 123</p>
                <p>Email: <a href="mailto:Enigmasupport@gmail.com">enigmasupport@gmail.com</a></p>
                <p>Fax: +63 918 4084 694</p>
              </div>
            </div> <!-- end stay in touch -->

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget footer-links">
                <h5>Useful Links</h5>
                <ul>
                  <li><a href="#">Enigma is a simple and flexible</a></li>
                  <li><a href="#">Multi-purpose WordPress theme</a></li>
                  <li><a href="#">Tons of Shortcodes included</a></li>
                  <li><a href="#">Fully Responsive Theme</a></li>
                </ul>
              </div>
            </div> <!-- end useful links -->

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget footer-posts last">
                <h5>Latest Posts</h5>
                <div class="footer-entry-list">
                  <div class="footer-entry">
                    <p>
                      <a href="blog-single.html">Enigma is a simple and flexible</a>
                    </p>
                    <span>11 July, 2015</span>
                  </div> <!-- end entry -->

                  <div class="footer-entry">
                    <p>
                      <a href="blog-single.html">Multi-purpose WordPress theme</a>
                    </p>
                    <span>08 July, 2015</span>
                  </div> <!-- end entry -->

                  <div class="footer-entry">
                    <p>
                      <a href="blog-single.html">Tons of Shortcodes and Features</a>
                    </p>
                    <span>05 July, 2015</span>
                  </div> <!-- end entry -->
                </div>
              </div>
            </div> <!-- end latest posts -->

          </div> <!-- end row -->
        </div> <!-- end footer widgets -->      
      </div> <!-- end container -->

      <div class="bottom-footer">
        <div class="container">
          <div class="row">

            <div class="col-sm-6 col-xs-12 copyright">
              <span>
                © 2015 Enigma Theme  |  Made by <a href="http://deothemes.com">DeoThemes</a>
              </span>
            </div>
              
            <div class="col-sm-4 col-sm-offset-2 col-xs-12 footer-socials">
              <div class="social-icons clearfix right">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>                  
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-vimeo"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div> <!-- end bottom footer -->
    </footer> <!-- end footer -->

    <div id="back-to-top">
      <a href="#top"><i class="fa fa-angle-up"></i></a>
    </div>

  </div> <!-- end main-wrapper -->
  

<!-- Execs -->
<section class="section-wrap-mp our-team light">
  <div class="container">
  
        <!-- Team Title -->
    <div class="row heading">
        <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center bottom-line">Meet Our Team</h2>
        <p class="subheading text-center">Executive Branch</p>
        </div>
    </div>

    <div class="row team-row">

        <div id="leader1" class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                <img src="{% static "img/Pics/Yoon.jpg" %}" alt="">
                <div class="overlay">
                    <div class="team-details text-center">
                    <p>
                        Contact
                    </p>
                    <div class="socials mt-20">
                        <a href="https://www.facebook.com/tarana.gupta.7">
                        <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#">
                        <i class="fa fa-envelope"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>
                <h6 class="team-title">Yoon Sung Hong</h6>
                <span>President</span>
            </div>
        </div>

        <div id="leader2" class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                <img src="{% static "img/Pics/Tarana.jpg" %}" alt="">
                <div class="overlay">
                    <div class="team-details text-center">
                    <p>
                        Contact
                    </p>
                    <div class="socials mt-20">
                        <a href="https://www.facebook.com/hongyoonsung">
                        <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#">
                        <i class="fa fa-envelope"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>
                <h6 class="team-title">Tarana Gupta</h6>
                <span>External Vice President</span>
            </div>
        </div>

        <div id="leader3" class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member last text-center">
                <div class="team-img">
                <img src="{% static "img/Pics/Annie.jpg" %}" alt="">
                <div class="overlay">
                    <div class="team-details text-center">
                    <p>
                        Contact
                    </p>
                    <div class="socials mt-20">
                        <a href="https://www.facebook.com/yuanjia.cai">
                        <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#">
                        <i class="fa fa-envelope"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>
                <h6 class="team-title">Annie Chen</h6>
                <span>Vice President of Operations</span>
            </div>
        </div>

        <div id="leader3" class="col-md-3 col-sm-6 team-wrap">
          <div class="team-member last text-center">
              <div class="team-img">
              <img src="{% static "img/Pics/Tansy.jpg" %}" alt="">
              <div class="overlay">
                  <div class="team-details text-center">
                  <p>
                      Contact
                  </p>
                  <div class="socials mt-20">
                      <a href="https://www.facebook.com/yuanjia.cai">
                      <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#">
                      <i class="fa fa-envelope"></i>
                      </a>
                  </div>
                  </div>
              </div>
              </div>
              <h6 class="team-title">Tansy Cai</h6>
              <span>Internal Vice President</span>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients -->
<section class="section-wrap clients bg-light">
  <div class="container">
    <div class="row heading">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center bottom-line">Partnerships</h2>
        <p class="subheading text-center">organizations that we teamed up with</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 client-logo">
        <a href="http://www.gloleadership.org/">
          <img src="{% static "img/partnerships/glo.png" %}" alt="GLO Logo">
        </a>
      </div>
      <div class="col-sm-4 client-logo">
        <a href="https://isac.berkeley.edu/">
          <img src="{% static "img/partnerships/isac.png" %}" alt="ISAC Logo">
        </a>
      </div>
      <div class="col-sm-4 client-logo">
        <a href="https://asuc.org/">
          <img src="{% static "img/partnerships/asuc.png" %}" alt="ASUC Logo">
        </a>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-sm-4 client-logo">
        <a href="https://career.berkeley.edu/">
          <img src="{% static "img/partnerships/career_center.png" %}" alt="Career Center Logo">
        </a>
      </div>
      <div class="col-sm-4 client-logo">
        <a href="https://secondimpressions.berkeley.edu/">
          <img src="{% static "img/partnerships/second_impressions.png" %}" alt="Second Impressions Logo">
        </a>
      </div>
      <div class="col-sm-4 client-logo">
        <a href="http://www.berkeley.edu/">
          <img src="{% static "img/partnerships/berkeley.png" %}" alt="Berkeley Logo">
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
