{% extends 'public/base.html' %} {% load staticfiles %} {% block title %}About{% endblock %}{% block content %}
<section class="page-title style-2">
  <div class="container relative clearfix">
    <div class="title-holder">
      <div class="title-text">
        <h1>About Us</h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">
            About Us
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- Image -->
<div class="section-wrap-mp pt-0 pb-0">
  <div class="entry-img">
    <img src="{% static "img/group_photo.jpg" %}" alt="">
  </div>
</div>

<!-- Text -->
<section class="section-wrap-mp">
  <div class="container">
    <div class="row mt-minus-30">
      <div class="col-sm-12">
        <div class="about-description mt-30">
          <h4>Our Story</h4>
          <p>
          ISAB is the largest international students organization on UC Berkeley campus. It was established in 2009 and was nominated as an outstanding student organization in 2010.
          ISAB provides a positive intellectual and social atmosphere for students from diverse backgrounds. We host numerous events to promote awareness of international culture to the campus community, whilst strengthening Berkeley's multicultural community. ISAB has hundreds of general members, and along with our officer team, we have 8 core committees.

          </p>
        ISAB’s events hosted over each year include but are not limited to:
        iLink (Professional Networking event designed solely for international students), retreats with ISAB alumni and current members, World Food Fair, Speaker Series, Meet the Bears (International Students Orientation), and General Members’ Bowling Night.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials -->


<section class="section-wrap parallax-testimonials relative" style="background-image: url(img/testimonials_bg.jpg)">
<div class="main-wrapper-mp oh">
      <div id="owl-testimonials" class="owl-carousel owl-theme text-center">

        <div class="item">
          <div class="container testimonial">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <i class="fa fa-quote-left"></i>
                <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
                <h6>John C. Marshall</h6>
                <span>Art Director</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="container testimonial">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <i class="fa fa-quote-left"></i>
                <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
                <h6>John C. Marshall</h6>
                <span>Art Director</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="container testimonial">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <i class="fa fa-quote-left"></i>
                <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
                <h6>John C. Marshall</h6>
                <span>Art Director</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section> <!-- end testimonials -->


<!-- Execs -->
<section class="section-wrap-mp our-team light">
  <div class="container">
  
        <!-- Team Title -->
    <div class="row heading">
        <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center bottom-line">Meet Our Team</h2>
        <p class="subheading text-center">Executive Branch</p>
        </div>
    </div>

    <div class="row team-row">

        <div id="leader1" class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                <img src="{% static "img/Pics/Yoon.jpg" %}" alt="">
                <div class="overlay">
                    <div class="team-details text-center">
                    <p>
                        Contact
                    </p>
                    <div class="socials mt-20">
                        <a href="https://www.facebook.com/tarana.gupta.7">
                        <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#">
                        <i class="fa fa-envelope"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>
                <h6 class="team-title">Yoon Sung Hong</h6>
                <span>President</span>
            </div>
        </div>

        <div id="leader2" class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                <img src="{% static "img/Pics/Tarana.jpg" %}" alt="">
                <div class="overlay">
                    <div class="team-details text-center">
                    <p>
                        Contact
                    </p>
                    <div class="socials mt-20">
                        <a href="https://www.linkedin.com/in/tarana-gupta-787b6a148/">
                        <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="mailto:tarana@berkeley.edu">
                        <i class="fa fa-envelope"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>
                <h6 class="team-title">Tarana Gupta</h6>
                <span>External Vice President</span>
            </div>
        </div>

        <div id="leader3" class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member last text-center">
                <div class="team-img">
                <img src="{% static "img/Pics/Annie.jpg" %}" alt="">
                <div class="overlay">
                    <div class="team-details text-center">
                    <p>
                        Contact
                    </p>
                    <div class="socials mt-20">
                        <a href="https://www.facebook.com/yuanjia.cai">
                        <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#">
                        <i class="fa fa-envelope"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>
                <h6 class="team-title">Annie Chen</h6>
                <span>Vice President of Operations</span>
            </div>
        </div>

        <div id="leader3" class="col-md-3 col-sm-6 team-wrap">
          <div class="team-member last text-center">
              <div class="team-img">
              <img src="{% static "img/Pics/Tansy.jpg" %}" alt="">
              <div class="overlay">
                  <div class="team-details text-center">
                  <p>
                      Contact
                  </p>
                  <div class="socials mt-20">
                      <a href="https://www.facebook.com/yuanjia.cai">
                      <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#">
                      <i class="fa fa-envelope"></i>
                      </a>
                  </div>
                  </div>
              </div>
              </div>
              <h6 class="team-title">Tansy Cai</h6>
              <span>Internal Vice President</span>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients -->
<section class="section-wrap clients bg-light">
  <div class="container">
    <div class="row heading">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center bottom-line">Partnerships</h2>
        <p class="subheading text-center">organizations that we teamed up with</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 client-logo">
        <a href="http://www.gloleadership.org/">
          <img src="{% static "img/partnerships/glo.png" %}" alt="GLO Logo">
        </a>
      </div>
      <div class="col-sm-4 client-logo">
        <a href="https://isac.berkeley.edu/">
          <img src="{% static "img/partnerships/isac.png" %}" alt="ISAC Logo">
        </a>
      </div>
      <div class="col-sm-4 client-logo">
        <a href="https://asuc.org/">
          <img src="{% static "img/partnerships/asuc.png" %}" alt="ASUC Logo">
        </a>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-sm-4 client-logo">
        <a href="https://career.berkeley.edu/">
          <img src="{% static "img/partnerships/career_center.png" %}" alt="Career Center Logo">
        </a>
      </div>
      <div class="col-sm-4 client-logo">
        <a href="https://secondimpressions.berkeley.edu/">
          <img src="{% static "img/partnerships/second_impressions.png" %}" alt="Second Impressions Logo">
        </a>
      </div>
      <div class="col-sm-4 client-logo">
        <a href="http://www.berkeley.edu/">
          <img src="{% static "img/partnerships/berkeley.png" %}" alt="Berkeley Logo">
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
