{% extends 'public/base.html' %} {% load staticfiles %} {% block title %}Apply{% endblock %} {% block content %}
<!-- Page Title -->
<section class="page-title style-2">
  <div class="container relative clearfix">
    <div class="title-holder">
      <div class="title-text">
        <h1>Apply Now</h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">
            Apply
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- Alert Box -->
<section class="section-wrap-mp alert-boxes pb-0 pt-30">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success fade in alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Hey!</strong> General Member Applications for Spring '19 are still open.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Text -->
<section class="section-wrap-mp pt-20 pb-0">
  <div class="container">
    <div class="row mt-minus-30">
      <div class="col-sm-12">
        <div class="about-description mt-30">
          <p><span class="dropcap style-2">T</span>
          here are two main ISAB membership options: core membership or general membership.  Browse our website before choosing which one to apply to. Core members constitute a small group (less than 30) and are a fundamental part of ISAB. They run the events and are responsible of making the club tick. General members are international (and non-international) students that want to have a multicultural experience during their time at Berkeley. They attend events and make friends!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Membership Options -->
<section class="section-wrap-mp pricing">
  <div class="container">
    <div class="row heading">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <h2 class="text-center bottom-line">Membership Options</h2>
        <p class="subheading text-center">Are you ready to join us?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">        
        <div class="pricing-3-col wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <div class="pricing-title">
            <h3>General Membership</h3>
            <div class="pricing-price">
              <span class="pricing-currency">$10</span>
              <span class="pricing-term">Per Semester</span>
            </div>                  
          </div>
          <div class="pricing-features">
            <ul>
              <li></li>
              <li></li>
              <li>Assigned to a Family</li>
              <li>Low Commitment</li>
              <li>Social and Professional Events</li>
              <li>Meet Fellow International Students</li>
              <li>Fun Events Such as Bowling</li>
              <li>A Home Away From Home</li>
            </ul>
          </div>
          <div class="pricing-button">
            <a href="tinyurl.com/isabgmfall19">
              <div class="btn btn-lg btn-color">Apply Now</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5">        
        <div class="pricing-3-col wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="pricing-title best-price">
            <h3>Core Membership</h3>
            <div class="pricing-price">
              <span class="pricing-currency">FREE</span>
              <span class="pricing-term">To Apply</span>
            </div>                  
          </div>
          <div class="pricing-features">
            <ul>
              <li></li>
              <li></li>
              <li>Greater Responsibility</li>
              <li>Committee Involvement</li>
              <li>Retreat and Banquet</li>
              <li>Tight Knit Community</li>
              <li>Leadership Opportunities</li>
              <li>Connect with Alumni</li>
            </ul>
          </div>
          <div class="pricing-button">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdzpMExdj8ZuocF2aWL32lzEBSAHlpfKFZYFx5dqc3jOBDHrQ/closedform">
              <div class="btn btn-lg btn-color">Apply Now :)</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action bg-light">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Visit our <a href="https://www.facebook.com/isab.berkeley/">official Facebook page</a> for more updates</h2>
    </div>
  </div>
</section>
<body>
{% endblock %}
