{% extends 'public/base.html' %} {% load staticfiles %} {% block title %}Commitees{% endblock %} {% block content %}
<!-- Page Title -->
<section class="page-title style-2">
    <div class="container relative clearfix">
        <div class="title-holder">
          <div class="title-text">
            <h1>Committees</h1>
            <ol class="breadcrumb">
              <li>
                <a href="/">Home</a>
              </li>
              <li class="active">
                Committees
              </li>
            </ol>
          </div>
        </div>
      </div>
</section>      

<!-- Long Description -->
<section class="section-wrap-mp features light pt-140">
    <div class="container">

        <!-- Subtitle -->
        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-center bottom-line">Our Committees</h2>
            </div>
        </div>

        <div class="col-sm-10 col-sm-offset-1 wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
            <img src="{% static "img/group_photo_2.jpg" %}" alt="" />
            <div class="row heading">
            </div>
            
            <p class="intro-text mb-60">
                ISAB Core consists of 8 committees, with each committee handling and organizing their own set of social or professional events. The committees are divided into three main sections: Internal, External and Operations.
                <br/><br/><b>The External division</b> consists of three committees: <b>External Events, International Programs</b> and <b>Marketing</b>. These committees plan social and professional events and handle the outreach for the greater Berkeley community. 
                <br/><br/><b>The Internal division</b> consists of two committees: <b>Social</b> and <b>Collaborative Events</b>. These committees handle all the internal social events for the club, both for the core and general members.
                <br/><br/><b>The Operations division</b> consists three committees: <b>Historian, Associate of Operations</b> and <b>Technology</b>. These committees are responsible for the logistics of the club such as inventory and finances, as well as documenting our events and keeping the website updated.
                
            </p>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="features-icons mt-80">
        
                    <div class="service-item-box icon-effect-1 icon-effect-1a">
                        <a href="#leader1">
                            <i class="fa fa-cloud hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Associate of Operation</h6>
                            <p>The Associate of Operations Committee is responsible in assisting with the operations of ISAB. From managing inventory, meeting minutes, assisting in finances, AO aims to ensure that the 
                                various other committees of ISAB can put forth their best work possible. 
                                <br /> <br />
                            </p>
                        </div>
                    </div>
    
                    <div class="service-item-box icon-effect-1 icon-effect-1a">
                        <a href="#leader2">
                            <i class="fa fa-twitter hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Collaborative Events Committee</h6>
                            <p>The Collaborative Events Committee strives towards nourishing the ISAB General Membership Program. From organizing various outings to managing the family system, you will have the chance to turn your crazily fun ideas into reality. Whether you like writing or managing events, fostering diversity or forming close relationships, join and let your creativity shine!</p>
                        </div>
                    </div>
    
                    <div class="service-item-box icon-effect-1 icon-effect-1a">
                        <a href="#leader3">
                            <i class="fa fa-road hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>External Events Committee</h6>
                            <p>The External Events Committee creates and organizes ISAB events that aim to reach out to the wider campus community. By organizing events like the In-N-Out fundraiser, Global Games, Yacht Night and other large-scale events, we aim to connect with other clubs and organizations and effectively provide a platform for engagement with different cultures. <br/><br/></p>
                        </div>
                    </div>
    
                    <div class="service-item-box icon-effect-1 icon-effect-1a last">
                        <a href="#leader4">
                            <i class="fa fa-book hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Historians</h6>
                            <p>The Historian Committee is responsible for the photographic and videographic documentation of professional and social events. Through visual content, it aims to capture ISAB’s true spirit: the club’s formal aspects, the friendships, the multicultural community to which we are all proud to be part of.</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="features-icons mt-80">
    
                <div class="service-item-box icon-effect-1 icon-effect-1a">
                    <a href="#leader5">
                    <i class="fa fa-globe hi-icon"></i>
                    </a>
                    <div class="features-text">
                    <h6>International Programs Committee</h6>
                    <p>The committee's mission is to "act as a resource for international students to assist with any issues given their international student status in UC Berkeley, through events and programs in conjunction with BIO, ASUC and other organizations on campus." The International Program committee member's responsibilities will focus on assisting the Director in university relations.</p>
                    </div>
                </div>
    
                <div class="service-item-box icon-effect-1 icon-effect-1a">
                    <a href="#leader6">
                    <i class="fa fa-credit-card hi-icon"></i>
                    </a>
                    <div class="features-text">
                    <h6>Marketing Committee</h6>
                    <p>The Marketing Committee is responsible for establishing ISAB’s presence on campus and for advertising 
                        the large events that ISAB hosts. The committee develops strategic, innovative, and creative marketing campaigns as well as graphics.
                    <br/> <br/> <br/>
                    </p>
                    </div>
                </div>
    
                <div class="service-item-box icon-effect-1 icon-effect-1a">
                    <a href="#leader7">
                    <i class="fa fa-street-view hi-icon"></i>
                    </a>
                    <div class="features-text">
                    <h6>Social Committee</h6>
                    <p>The Social Committee aims to cultivate and develop relationships between core members within ISAB. Whether through arranging frequent social events or organizing our semesterly retreat to bring ISAB closer together, this committee is comprised of people who have the affinity to bring people together in any situation. Responsibilities include planning retreats, daytrips, kickbacks, and an end-of-semester banquet.</p>
                    </div>
                </div>
    
                <div class="service-item-box icon-effect-1 icon-effect-1a last">
                    <a href="#leader8">
                    <i class="fa fa-apple hi-icon"></i>
                    </a>
                    <div class="features-text">
                    <h6>Tech Committee</h6>
                    <p>The Technology Committee is responsible for ISAB’s online presence. This includes the ISAB website and the creative & promotional media posted online. As a committee we work on improving and maintaining the website and building tools to aid in reaching out to alumni and to improve the communication within the club.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>  
    </div>
</section>

<!-- Process -->
<section class="section-wrap-mp process" style="background-image: url({% static "img/group_photo_2.jpg" %})">
</section> 

<!-- Team -->
<section class="section-wrap-mp our-team bg-light">
    <div class="container">

        <!-- Team Title -->
        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center bottom-line">Meet the Team</h2>
            <p class="subheading text-center">committee chairs</p>
            </div>
        </div>
    
        <div class="row team-row">
    
            <div id="leader1" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                    <img src="{% static "img/people/Nick.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/nicholas-foo-7b0839b9/">
                            <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:nicholasfoo@berkeley.edu">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Nicholas Foo</h6>
                    <span>Associate of Operations</span>
                </div>
            </div>
    
            <div id="leader2" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                    <img src="{% static "img/people/Vidhi.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="mailto:vidhichander@berkeley.edu">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Vidhi Chander</h6>
                    <span>Collaborative Events Chair</span>
                </div>
            </div>
    
            <div id="leader3" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/people/Nursultan.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="#">
                            <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Nursultan Mussinov</h6>
                    <span>External Events Chair</span>
                </div>
            </div>
        </div>
    
        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
            </div>
        </div>

        <div class="row team-row">
            <div id="leader4" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/people/Philip.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/philip-p-787527114/">
                            <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:philpapapolyzos@berkeley.edu">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Philip Papapolyzos</h6>
                    <span>Historian Chair</span>
                </div>
            </div>

            <div id="leader5" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/people/Mike.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/jun-hee-lee/">
                            <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:mike.lee@berkeley.edu">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Mike Lee</h6>
                    <span>International Programs Chair</span>
                </div>
            </div>

            <div id="leader6" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/people/Nana.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/nanakomoriya">
                            <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:nanakomoriya@berkeley.edu">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Nana Komoriya</h6>
                    <span>Marketing Chair</span>
                </div>
            </div>
        </div>

        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
            </div>
        </div>

        <div class="row team-row">
            <div id="leader7" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/people/Katniss.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/katniss-lee-ba8614148/">
                            <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:jihyunlee.21@berkeley.edu">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Katniss Lee</h6>
                    <span>Social Chair</span>
                </div>
            </div>

            <div id="leader8" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/people/Orkun.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/orkun1675">
                            <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:orkun@berkeley.edu">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Orkun Duman</h6>
                    <span>Technology Chair</span>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}