{% extends 'public/base.html' %} {% load static %} {% block title %}Commitees{% endblock %} {% block content %}
<!-- Page Title -->
<section class="page-title style-2">
    <div class="container relative clearfix">
        <div class="title-holder">
          <div class="title-text">
            <h1>Committees</h1>
            <ol class="breadcrumb">
              <li>
                <a href="/">Home</a>
              </li>
              <li class="active">
                Committees
              </li>
            </ol>
          </div>
        </div>
      </div>
</section>

<!-- Long Description -->
<section class="section-wrap-mp features light pt-140">
    <div class="container">

        <!-- Subtitle -->
        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-center bottom-line">Our Committees</h2>
            </div>
        </div>

        <div class="col-sm-10 col-sm-offset-1 wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
            <img src="{% static "img/fall21/rsz_leads.jpg" %}" alt="2019 officers" />
            <div class="row heading">
            </div>

            <p class="intro-text mb-60">
                ISAB Core consists of 7 committees, with each committee handling and organizing their own set of social or professional events. The committees are divided into three main sections: Internal, External and Operations.
                <br/><br/><b>The External division</b> consists of three committees: <b>External Events, International Programs</b> and <b>Marketing</b>. These committees plan social and professional events and handle the outreach for the greater Berkeley community.
                <br/><br/><b>The Internal division</b> consists of two committees: <b>Social</b> and <b>Collaborative Events</b>. These committees handle all the internal social events for the club, both for the core and general members.
                <br/><br/><b>The Operations division</b> consists three committees: <b>Historian, Associate of Operations</b> and <b>Technology</b>. These committees are responsible for the logistics of the club such as inventory and finances, as well as documenting our events and keeping the website updated.

            </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="features-icons mt-80">

                    <div class="service-item-box icon-effect-1 icon-effect-1a">
                        <a href="#leader5">
                            <i class="fa fa-twitter hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Social Media Committee</h6>
                            <p>The Social Media Leads oversee and organize the content used on ISAB’s social media platforms. The committee focuses on advertising all ISAB events and providing insight on international student life at Berkeley. All the while, the Social Media Leads use all this content to engage with the international community at Berkeley and create connections across the world. 
                                <br /> <br />
                            </p>
                        </div>
                    </div>

                    <div class="service-item-box icon-effect-1 icon-effect-1a">
                        <a href="#leader6">
                            <i class="fa fa-users hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Social Committee</h6>
                            <p>The Social Lead coordinates events that focus on maintaining a fun, social atmosphere of ISAB throughout the semester. The committee will organize activities that bring together both the core and general members and create a welcoming and family-like community. We will plan activities such as ISAB families, iDates, various socials whilst also brainstorming new ways to connect everyone.</p>
                        </div>
                    </div>

                    <div class="service-item-box icon-effect-1 icon-effect-1a">
                        <a href="#leader7">
                            <i class="fa fa-globe hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Professional Committee</h6>
                            <p>The Professional Lead organizes and provides international student oriented career and professional development opportunities for our members and the greater international community at Cal. The committee provides a great platform for international students to establish a network with alumni and professionals, as well as develop their own professional skills for recruitment / grad school and stay updated with employment policy guidelines.  <br/><br/></p>
                        </div>
                    </div>

                    <div class="service-item-box icon-effect-1 icon-effect-1a last">
                        <a href="#leader8">
                            <i class="fa fa-compass hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Mentor/Mentee Committee</h6>
                            <p>The Mentor/Mentee Lead oversees the planning and undertaking of the Mentor/Mentee Program, which is essential in allowing the Berkeley international community to build close-knit connections and help newer students adapt to life and academics at Berkeley. The committee will pair mentees and mentors in the beginning of the semester. It will also organize fun events to further encourage bonding between mentors and mentees.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
              <br/> <br/> <br/>
              <br/> <br/> 
                <div class="features-icons mt-80">

                <div class="service-item-box icon-effect-1 icon-effect-1a">
                    <a href="#leader9">
                    <i class="fa fa-camera-retro hi-icon"></i>
                    </a>
                    <div class="features-text">
                    <h6>Historian Committee</h6>
                    <p>The Historian Committee is responsible for the photographic and videographic documentation of professional and social events. Through visual content, it aims to capture ISAB’s true spirit: the club’s formal aspects, the friendships, the multicultural community to which we are all proud to be part of.</p>
                    </div>
                    <br/> <br/> <br/>
                    <br/>
                </div>

                <div class="service-item-box icon-effect-1 icon-effect-1a last">
                  <a href="#leader10">
                  <i class="fa fa-apple hi-icon"></i>
                  </a>
                  <div class="features-text">
                  <h6>Tech Committee</h6>
                  <p>The Technology Committee is responsible for ISAB’s online presence. This includes the ISAB website and the creative & promotional media posted online. As a committee we work on improving and maintaining the website and building tools to aid in reaching out to alumni and to improve the communication within the club.</p>
                  </div>
                  <br/> <br/> <br/>
                  <br/><br/> <br/> 
              </div>

                <div class="service-item-box icon-effect-1 icon-effect-1a">
                    <a href="#leader11">
                    <i class="fa fa-space-shuttle hi-icon"></i>
                    </a>
                    <div class="features-text">
                    <h6>External Committee</h6>
                    <p>The External Lead focuses on the events that ISAB holds throughout the term. This committee organizes the external ISAB activities that are not limited to the Core or General members of ISAB. Such events include main campus events and fundraisers in order to connect the members of ISAB with the external school community. 
                    </p>
                    <br/> <br/> <br/>
                    </div>
                </div>

                
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Process -->
<section class="section-wrap-mp process" style="background-image: url({% static "img/black.jpg" %})">
</section>

<!-- Team -->
<section class="section-wrap-mp our-team bg-light">
    <div class="container">

        <!-- Team Title -->
        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center bottom-line">Meet the Team</h2>
            <p class="subheading text-center">committee chairs</p>
            </div>
        </div>
            <div class="row team-row">
              <div id="leader5" class="col-md-3 col-sm-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                      <img src="{% static "img/isab_logo_black.png" %}" alt="Shun photo">
                      <div class="overlay">
                        <div class="team-details text-center">
                          <p>
                            Contact
                          </p>
                          <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/qfan/">
                              <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:queenie.fan@berkeley.edu">
                              <i class="fa fa-envelope"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/zeynep-sezer-01a696204">
                                <i class="fa fa-linkedin"></i>
                              </a>
                              <a href="mailto:zeynepsezer@berkeley.edu">
                                <i class="fa fa-envelope"></i>
                              </a>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <h6 class="team-title"><ul>
                      <li>Queenie Fan</li>
                      <li>Zeynep Sezer</li>
                    </ul></h6>
                    <span>Social Media Leads</span>
                </div>
              </div>
              <div id="leader6" class="col-md-3 col-sm-6 team-wrap">
                  <div class="team-member text-center">
                    <div class="team-img">
                      <img src="{% static "img/isab_logo_black.png" %}" alt="Shun photo">
                      <div class="overlay">
                        <div class="team-details text-center">
                          <p>
                            Contact
                          </p>
                          <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/zahra-poonevala-3616081a2/">
                              <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:zahrapoonevala@berkeley.edu">
                              <i class="fa fa-envelope"></i>
                            </a>
                          </div> 
                        </div>
                      </div>
                    </div>
                    <h6 class="team-title">Zahra Poonevala</h6>
                    <span>Social Lead</span>
                  </div>
              </div>
              <div id="leader7" class="col-md-3 col-sm-6 team-wrap">
                  <div class="team-member last text-center">
                    <div class="team-img">
                      <img src="{% static "img/isab_logo_black.png" %}" alt="Shun photo">
                      <div class="overlay">
                        <div class="team-details text-center">
                          <p>
                            Contact
                          </p>
                          <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/aakarsh-kankaria-5375a8207/">
                              <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:akankaria@berkeley.edu">
                              <i class="fa fa-envelope"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h6 class="team-title">Aakarsh Kankaria</h6>
                    <span>Professional Lead</span>
                  </div>
                </div>
              <div id="leader8" class="col-md-3 col-sm-6 team-wrap">
                  <div class="team-member last text-center">
                    <div class="team-img">
                      <img src="{% static "img/fall21/rsz_sarp_fav.jpg" %}" alt="Shun photo">
                      <div class="overlay">
                        <div class="team-details text-center">
                          <p>
                            Contact
                          </p>
                          <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/sarp-kurtoglu-20a3011b4/">
                              <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:sarpdkurtoglu@berkely.edu">
                              <i class="fa fa-envelope"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h6 class="team-title">Sarp Dora Kurtoglu</h6>
                    <span>Mentor/Mentee Lead</span>
                  </div>
                  
              </div>
            </div>
            <div class="row team-row">
              <div id="leader9" class="col-md-3 col-sm-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                      <img src="{% static "img/isab_logo_black.png" %}" alt="Shun photo">
                      <div class="overlay">
                        <div class="team-details text-center">
                          <p>
                            Contact
                          </p>
                          <div class="socials mt-20">
                            <a href="">
                              <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:annasmith@berkeley.edu">
                              <i class="fa fa-envelope"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h6 class="team-title">Anna Smith </h6>
                    <span>Historian Lead</span>
                </div>
              </div>
              <div id="leader10" class="col-md-3 col-sm-6 team-wrap">
                  <div class="team-member text-center">
                    <div class="team-img">
                      <img src="{% static "img/fall21/rsz_ergun_fav.jpg" %}" alt="Shun photo">
                      <div class="overlay">
                        <div class="team-details text-center">
                          <p>
                            Contact
                          </p>
                          <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/ergunacikoz/">
                              <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:ergunackz@berkeley.edu">
                              <i class="fa fa-envelope"></i>
                            </a>
                          </div> 
                        </div>
                      </div>
                    </div>
                    <h6 class="team-title">Ergun Acikoz</h6>
                    <span>Tech Lead</span>
                  </div>
              </div>
              <div id="leader11" class="col-md-3 col-sm-6 team-wrap">
                  <div class="team-member last text-center">
                    <div class="team-img">
                      <img src="{% static "img/fall21/rsz_beril_fav.jpg" %}" alt="Shun photo">
                      <div class="overlay">
                        <div class="team-details text-center">
                          <p>
                            Contact
                          </p>
                          <div class="socials mt-20">
                            <a href="https://www.linkedin.com/in/beril-g%C3%BCr-83188a156/">
                              <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:beril.gur@berkeley.edu">
                              <i class="fa fa-envelope"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h6 class="team-title">Beril Gur</h6>
                    <span>External Lead</span>
                  </div>
                </div>
              </div>
            </div>
          </div>







    </div>
</section>

{% endblock %}
