{% extends 'public/base.html' %} {% load staticfiles %} {% block title %}Commitees{% endblock %} {% block content %}
<!-- Page Title -->
<section class="page-title style-2">
    <div class="container relative clearfix">
        <div class="title-holder">
            <div class="title-text">
                <h1>Committees</h1>
            </div>
        </div>
    </div>
</section>      

<!-- Long Description -->
<section class="section-wrap-mp features bg-light pt-140">
    <div class="container">

        <!-- Subtitle -->
        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-center bottom-line">Our Committees</h2>
            </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2 text-center wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
            <img src="../../static/img/isab_full.jpg" alt="" />
            <div class="row heading">
            </div>
            
            <p class="intro-text mb-60">
            We continuosly seek between design and technology. For over a decade, we've helped businesses to craft honest, emotional experiences through strategy, brand development, graphic design, web design. Our team hand picked to provide the right balance of skills to work.
            </p>
        </div>
        
        <div class="row">
        <div class="col-md-6">
            <div class="features-icons mt-80">
    
                <div class="service-item-box icon-effect-1 icon-effect-1a">
                    <a href="#leader1">
                        <i class="fa fa-github hi-icon"></i>
                    </a>
                    <div class="features-text">
                        <h6>Associate of Operations Committee</h6>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                    </div>
                </div>

                <div class="service-item-box icon-effect-1 icon-effect-1a">
                    <a href="#leader2">
                        <i class="fa fa-handshake hi-icon"></i>
                    </a>
                    <div class="features-text">
                        <h6>Collaborative Events Committee</h6>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                    </div>
                </div>

                <div class="service-item-box icon-effect-1 icon-effect-1a">
                    <a href="#leader3">
                        <i class="fa fa-road hi-icon"></i>
                    </a>
                    <div class="features-text">
                        <h6>External Events Committee</h6>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                    </div>
                </div>

                <div class="service-item-box icon-effect-1 icon-effect-1a last">
                    <a href="#leader4">
                        <i class="fa fa-address-book hi-icon"></i>
                    </a>
                    <div class="features-text">
                        <h6>Historian Committee</h6>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="features-icons mt-80">

            <div class="service-item-box icon-effect-1 icon-effect-1a">
                <a href="#leader5">
                <i class="fa fa-globe hi-icon"></i>
                </a>
                <div class="features-text">
                <h6>International Programs Committee</h6>
                <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div>

            <div class="service-item-box icon-effect-1 icon-effect-1a">
                <a href="#leader6">
                <i class="fas fas-money-bill hi-icon"></i>
                </a>
                <div class="features-text">
                <h6>Marketing Committee</h6>
                <p>And finally the subconscious is the mechanism through which thought impulses which are repeated regularly.</p>
                </div>
            </div>

            <div class="service-item-box icon-effect-1 icon-effect-1a">
                <a href="#leader7">
                <i class="fa fa-street-view hi-icon"></i>
                </a>
                <div class="features-text">
                <h6>Social Committee</h6>
                <p>In order to understand how the conscious and subconscious minds work together as a team to create your reality.</p>
                </div>
            </div>

            <div class="service-item-box icon-effect-1 icon-effect-1a last">
                <a href="#leader8">
                <i class="fa fa-apple hi-icon"></i>
                </a>
                <div class="features-text">
                <h6>Tech Committee</h6>
                <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div>

            </div>
        </div>  

        </div>
    </div>
</section>

<!-- Testimonials -->
    <!-- Results -->
<section class="result-boxes section-wrap style-2" style="background-image: url(../../static/img/isab_full.jpg)">
    <div class="container">
        <div class="row">

        <div class="col-sm-3">
            <div class="statistic result-box">
            <div class="result-wrap clearfix">
                <span class="timer" data-from="0" data-to="8"></span>
                <span class="counter-text">Number of Committees</span>
            </div>              
            </div>
        </div> <!-- end first result box -->

        <div class="col-sm-3">
            <div class="statistic result-box">
            <div class="result-wrap clearfix">
                <span class="timer" data-from="0" data-to="5782"></span>
                <span class="counter-text">Number of Core Members</span>
            </div>            
            </div>
        </div> <!-- end second result box -->

        <div class="col-sm-3">
            <div class="statistic result-box">
            <div class="result-wrap clearfix">
                <span class="timer" data-from="0" data-to="2489"></span>
                <span class="counter-text">Total amount of ppl? idk</span> 
            </div>            
            </div>
        </div> <!-- end third result box -->

        <div class="col-sm-3">
            <div class="statistic result-box">
            <div class="result-wrap clearfix">
                <span class="timer" data-from="0" data-to="12329"></span>
                <span class="counter-text">Girls who are obsessed wiht Orkun</span> 
            </div>            
            </div>
        </div> <!-- end fourth result box -->

        </div>
    </div>
    </section> <!-- end results-->

<!-- Team -->
<section class="section-wrap-mp our-team bg-light">
    <div class="container">

        <!-- Team Title -->
        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center bottom-line">Meet Our Team</h2>
            <p class="subheading text-center">Committee Chairs</p>
            </div>
        </div>
    
        <div class="row team-row">
    
            <div id="leader1" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                    <img src="{% static "img/tarana.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.facebook.com/tarana.gupta.7">
                            <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Nicholas Foo</h6>
                    <span>Associate of Operations Committee</span>
                </div>
            </div>
    
            <div id="leader2" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                    <img src="{% static "img/tansy.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.facebook.com/hongyoonsung">
                            <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Vidhi Chander</h6>
                    <span>Collaborative Events Chair</span>
                </div>
            </div>
    
            <div id="leader3" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/tansy.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.facebook.com/yuanjia.cai">
                            <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Nursultan Mussinov</h6>
                    <span>External Events Chair</span>
                </div>
            </div>
        </div>
    
        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
            </div>
        </div>

        <div class="row team-row">
            <div id="leader4" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/tansy.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.facebook.com/yuanjia.cai">
                            <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Philip Papapolyzos</h6>
                    <span>Historian Chair</span>
                </div>
            </div>

            <div id="leader5" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/tansy.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.facebook.com/yuanjia.cai">
                            <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Mike Lee</h6>
                    <span>International Programs Chair</span>
                </div>
            </div>

            <div id="leader6" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/tansy.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.facebook.com/yuanjia.cai">
                            <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Nana Komoriya</h6>
                    <span>Marketing Events Chair</span>
                </div>
            </div>
        </div>

        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
            </div>
        </div>

        <div class="row team-row">
            <div id="leader7" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/tansy.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.facebook.com/yuanjia.cai">
                            <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Katniss Lee</h6>
                    <span>Social Chair</span>
                </div>
            </div>

            <div id="leader8" class="col-md-4 col-sm-6 team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                    <img src="{% static "img/tansy.jpg" %}" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                        <p>
                            Contact
                        </p>
                        <div class="socials mt-20">
                            <a href="https://www.facebook.com/yuanjia.cai">
                            <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h6 class="team-title">Orkun Duman</h6>
                    <span>Tech Chair</span>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}