{% extends 'public/base.html' %} {% load staticfiles %}{% block title %}Events{% endblock %} {% block content %}
<!-- Page Title -->
<section class="page-title style-2">
  <div class="container relative clearfix">
    <div class="title-holder">
      <div class="title-text">
        <h1>Events</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                Events
            </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio -->
<section class="section-wrap-mp pb-50">
  <div class="container">
      <!-- Filter -->
      <div class="row">
          <div class="col-md-12">
              <div class="portfolio-filter">
                  <a href="#" class="filter active" data-filter="*">All</a>
                  {% for semester in semesters %}
                  <a href="#" class="filter" data-filter=".{{ semester.code }}">{{ semester.name }}</a>
                  {% endfor %}
              </div>
          </div>
      </div>
      <!-- Content -->
      <div class="row">
          <div class="works-grid titles">
              {% if events %}
                  {% for event in events %}
                  <div class="col-md-4 col-xs-6 work-item {{ event.semester.code }}">
                      <div class="work-container">
                          <div class="work-img">
                            <img src={{ event.cover.url }}>
                            <div class="portfolio-overlay">
                                <div class="project-icons">
                                    <a href="/events/{{ event.id }}" class="project-icon"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                          </div>
                          <div class="work-description">
                              <h3>
                                  <a href="/events/{{ event.id }}">[{{ event.semester.short }}] {{ event.name }}</a>
                              </h3>
                              <span>
                                  <a href="/events/{{ event.id }}">{{ event.short }}</a>
                              </span>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              {% else %}
                  <p>No past events were found.</p>
              {% endif %}
          </div>
      </div>
  </div>
</section>
{% endblock %}