{% load static %}

<footer class="footer footer-type-2 bg-dark">
    <div class="container">
        <div class="footer-widgets">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo-container">
                        <div class="logo-wrap local-scroll">
                            <a href="/">
                                <img class="logo" src="{% static "img/isab_logo_white.png" %}" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget footer-about-us">
                        <h5>About Us</h5>
                        <p class="mb-0">ISAB provides a positive intellectual and social atmosphere for students from diverse backgrounds.
                            We host numerous events to promote awareness of international culture to the campus community,
                            whilst strengthening Berkeley's multicultural community.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget footer-about-us">
                        <h5>Disclaimer</h5>
                        <p class="mb-0">
                            We are a student group acting independently of the University of California. We take full responsibility for our organization
                            and this web site.
                        </p>
                        <br>
                        <p>
                            <a href="https://www.ocf.berkeley.edu">
                                <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin-dark.svg" alt="Hosted by the OCF" style="border: 0;"/>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget footer-get-in-touch">
                        <h5>Get in Touch</h5>
                        <p class="footer-address">
                            ISAB<br>
                            Cubicle #81<br>
                            Eshleman Hall<br>
                            Berkeley, CA 94704<br>
                        </p>
                        <p>Email:
                            <a href="mailto:isab.officer@gmail.com">isab.officer@gmail.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget footer-links">
                        <h5>Useful Links</h5>
                        <ul>
                            <li>
                                <a href="/contact">How to reach us</a>
                            </li>
                            <li>
                                <a href="/apply">Apply for membership</a>
                            </li>
                            <li>
                                <a href="/events">See the latest events</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 copyright">
                    <span>
                        © 2009-{% now 'Y' %} ISAB | Made by the Tech committee
                    </span>
                </div>
                <div class="col-sm-4 col-sm-offset-2 col-xs-12 footer-socials">
                    <div class="social-icons clearfix right">
                        <a href="https://www.facebook.com/isab.berkeley/">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/isab_cal/">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://twitter.com/ISAB_Berkeley">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/17997360/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://vimeo.com/isabcal">
                            <i class="fa fa-vimeo"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>