{% load staticfiles %}
<!-- Navigation -->
<header class="nav-type-2">

    <nav class="navbar navbar-static-top">
        <div class="navigation">
            <div class="container relative">
                <div class="row">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo-container">
                            <div class="logo-wrap local-scroll">
                                <a href="/home">
                                    <img class="logo" src="{% static "img/isab_logo_black.png" %}" alt="logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end navbar-header -->


                    <div class="col-md-9 nav-wrap right">
                        <div class="collapse navbar-collapse" id="navbar-collapse">

                            <ul class="nav navbar-nav navbar-right">

                                <li class="active">
                                    <a href="/home">Home</a>
                                </li>
                                <li>
                                    <a href="/about">About</a>
                                </li>
                                <li>
                                    <a href="/committees">Committees</a>
                                </li>
                                <li>
                                    <a href="/events">Events</a>
                                </li>
                                <!-- <li>
                                    <a href="/contact">Contact</a>
                                </li> -->
                                <!-- <li>
                                    <a href="/tribute">Tribute</a>
                                </li> -->
                                <li>
                                    <a href="/apply">Apply</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end navigation -->
    </nav>
    <!-- end navbar -->

</header>
<!-- end navigation -->