{% extends 'public/base.html' %} {% load static %} {% block title %}About{% endblock %}
<section class="page-title style-2">
  <div class="container relative clearfix">
    <div class="title-holder">
      <div class="title-text">
        <h1>About Us</h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">
            About Us
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- Image -->
<div class="section-wrap-mp pt-0 pb-0">
  <div class="entry-img">
    <img src="{% static "img/black.jpg" %}" alt="core2019_retreatGroup">
  </div>
</div>

<!-- Text -->
<section class="section-wrap-mp">
  <div class="container">
    <div class="row mt-minus-30">
      <div class="col-sm-12">
        <div class="about-description mt-30">
          <h4>Our Story</h4>
          <p>
          ISAB is the largest international students organization on UC Berkeley campus. It was established in 2009 and was nominated as an outstanding student organization in 2010. ISAB provides a positive intellectual and social atmosphere for students from diverse backgrounds. We host numerous events to promote awareness of international culture to the campus community, whilst strengthening Berkeley's multicultural community. ISAB has hundreds of general members, and along with our officer team, we have 8 core committees.
          </p>
          ISAB’s events hosted over each year include but are not limited to: iLink (Professional Networking event designed solely for international students), retreats with ISAB alumni and current members, World Food Fair, Speaker Series, Meet the Bears (International Students Orientation), and General Members’ Bowling Night.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>