{% extends 'public/base.html' %} {% load static %}{% block title %}Apply{% endblock %} {% block content %}
<!-- Page Title -->
<section class="page-title style-2">
  <div class="container relative clearfix">
    <div class="title-holder">
      <div class="title-text">
        <h1>Get to know ISAB more!</h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">
            Q&A
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>


<section class="section-wrap-mp features light pt-140">
  <div class="container">

      <!-- Intro -->
      <div class="row heading">
          <div class="col-md-6 col-md-offset-3">
              <h2 class="text-center bottom-line">Q&A</h2>
          </div>
      </div>

      <div class="col-sm-10 col-sm-offset-1 wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
        <img src="{% static "img/fall21/rsz_qa.jpg" %}" alt="2021 officers" />
        <div class="row heading">
        </div>

          <p class="intro-text mb-60">
              <b>What is ISAB?</b> 
              <br>Only the biggest international student organization on campus, we’re a student club devoted to helping college students find their home away from home .
              <br/><br/><b>What does ISAB do?</b> 
              <br>Most of our events are social events, either our own or in collaboration with other cultural organizations on campus. We host bowling nights, scavenger hunts  in San Francisco and more, here you can see a bunch of international kids go crazy over In N Out on multiple occasions. We also have professional events with international alumni who can help make sure you can stay in the US after graduation.
              <br/><br/><b>Who is in ISAB?</b> 
              <br>Only the biggest, the baddest and the best of berkeley. Our general members include people from all over the world (including the US!) and really anyone who’s down to have a good time and meet new people from different backgrounds 
              <br/><br/><b>Is it hard to get into ISAB?</b>
              <br>Becoming one of our General Members is as easy as filling out this form
              
              <a href="https://tinyurl.com/isabgeneral"> form</a>. 
              
              by becoming a GM you receive e-mails  about our events and get discounted or fully free admission prices :)
              <br>Becoming a core member means you will be part of our core committee and help plan events. You’ll also be invited to a retreat at the beginning of the semester and a banquet at the end as a means of rewarding you for the extra work you put in. To join core, fill out this application 
              <a href="https://tinyurl.com/isabcore">application</a>
              
              and sign up for a super chill interview where we just want to have a chat and get to know you!
              <br/><br/><b>Do you have to be International to join ISAB?</b> 
              <br>Nope :) people from anywhere, including the US, are welcome to join our community.

          
          </p>
      </div>
    </div>


<!-- <form>
  Name:
  <br>
  <input type="text" name="name" value="" id="username"><br>
  Question:
  <br>
  <input type="text" name="question" value="" id="test_question">
</form>

<input type="button" value="click" OnClick="kk()"/>

<script type="text/javascript">
   var user_name = document.getElementById('username');
   var user_question = document.getElementById('test_question');
   function kk() {
       alert(user_name.value + " asked " + user_question.value);
   }
</script> -->



<!-- Call to Action -->
<!-- <section class="call-to-action bg-light">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Visit our <a href="https://www.facebook.com/isab.berkeley/">official Facebook page</a> for more updates</h2>
    </div>
  </div>
</section>
<body> -->
{% endblock %}
