{% extends 'public/base.html' %} {% load staticfiles %} {% block title %}Apply{% endblock %} {% block content %}
<!-- Page Title -->
<section class="page-title style-2">
  <div class="container relative clearfix">
    <div class="title-holder">
      <div class="title-text">
        <h1>This will be our Q&A</h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">
            Q&A
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<form>
  Name:
  <br>
  <input type="text" name="name"><br>
  Question:
  <br>
  <input type="text" name="question">
</form>


<input type="text" name="enter" class="enter" value="" id="lolz"/>
<input type="button" value="click" id="kk" />

<script> 
$(document).ready(function() {
    var lolz = $('#lolz');
    var kk = $('#kk');
    kk.click(function() {
        alert(lolz.val());
    });
});  
</script>

<!-- Call to Action -->
<section class="call-to-action bg-light">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Visit our <a href="https://www.facebook.com/isab.berkeley/">official Facebook page</a> for more updates</h2>
    </div>
  </div>
</section>
<body>
{% endblock %}
